html {
 scroll-behavior: smooth;   
}#header {
    background-image: url("https://images.unsplash.com/photo-1609013304225-26a1b84ac180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80https://images.unsplash.com/photo-1609013304225-26a1b84ac180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80");
    width: 100vw;
    height: 100vw;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-position: top left;

}

/*Kommentar*/
h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}